body {
      font-family: sans-serif;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .controls,
    .results {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 40%;
    }

    textarea {
      width: 100%;
      height: 150px;
    }

    #jsonOutput {
      background: #1e1e1e;
      color: #00ff00;
      padding: 10px;
      height: 300px;
      overflow-y: auto;
      font-family: monospace;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      max-width: 800px;
    }

    #textOutput {
      border: 1px solid #e91c1c;
      padding: 10px;
      height: 100px;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      max-width: 800px;
    }

    #historyList li {
      cursor: pointer;
      color: #1a73e8;
      text-decoration: underline;
      margin-bottom: 5px;
    }
.temp{
    background-color: coral;
    }